<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.3.5/theme-chalk/index.css" rel="stylesheet">
    <link href="mfsj.css" rel="stylesheet">
    <title>膜法世家</title>
</head>
<body>
<div id="mfsj-container" @click="everyClick()">
    <div class="ads" v-if="view == 'ads'" @click="clickAd(showAd)">
        <img v-if="showAd" :src="showAd.image">
    </div>

    <div class="machine-header" v-if="view == 'list'">
        <em>{{deviceInfo.showName}}</em>
        <div @click="clickMachineInfo()">
            <span>{{deviceInfo.deviceTaobaoNo}}</span>
        </div>
        <img src="top-background.png">

        <el-dialog :append-to-body="true"
                   :fullscreen="true"
                   title="修改机器信息"
                   :visible.sync="machineInfoDialog">
            <div>
                <el-form :model="machineInfo" :rules="machineInfoRules" ref="machineInfoForm" label-width="80px">
                    <el-form-item label="机器编号" prop="deviceNo">
                        <el-input v-model="machineInfo.deviceNo"></el-input>
                    </el-form-item>
                    <el-form-item label="门店编号" prop="shopId">
                        <el-input v-model.number="machineInfo.shopId"></el-input>
                    </el-form-item>
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                    <el-button @click="machineInfoDialog = false">取消</el-button>
                    <el-button type="primary" @click="confirmMachineInfo">确定</el-button>
              </span>
        </el-dialog>
    </div>

    <div v-if="view == 'detail'" class="item-details">
        <el-carousel :interval="5000" height="30vh" :autoplay="true">
            <el-carousel-item v-for="img in detailItem.images" :key="img" arrow="always">
                <img :src="img" alt="" width="100%" height="100%">
            </el-carousel-item>
        </el-carousel>
        <div class="infos">
            <div class="title">{{detailItem.title}}</div>
            <div class="description">{{detailItem.description}}</div>
            <div class="promotions">
            <span v-for="p in detailItem.promotions">
								{{p.promotionName}}
            </span>
            </div>
            <div class="rate">
                <i class="el-icon-star-on" v-for="i in detailItem.rate"></i>
                <i class="el-icon-star-off" v-for="i in (5-detailItem.rate)"></i>
                <span class="stock">库存{{detailItem.stock}}份</span>
            </div>
            <div class="price-panel">
				<span class="price">
					<em>{{detailItem.salePrice}}</em>元

					<del class="price-original">
						{{detailItem.price}}元
					</del>
				</span>

                <div class="buy-pane">
                    <a v-show="detailItem.buyCount > 0" class="remove" @click="removeItem(detailItem)"
                       href="javascript:">
                        <i class="el-icon-minus"></i>
                    </a>
                    <span v-show="detailItem.buyCount > 0" class="buy-count">{{detailItem.buyCount}}</span>
                    <a class="add" @click="addItem(detailItem)" href="javascript:">
                        <i class="el-icon-plus"></i>
                    </a>
                </div>
            </div>
            <div class="promotions-details">
                <div class="promotion-detail" v-for="p in detailItem.promotions">
                    <span class="type">{{ p.type }}</span>
                    <span class="desc">购买满{{ p.quotaQuantity }}件减</span>
                </div>
            </div>
        </div>

        <!--<div class="promotions-details">-->
        <!--<div class="promotion-detail" v-for="p in detailItem.promotions">-->
        <!--<span class="type">{{p.type}}</span>-->
        <!--<span class="desc">{{longCut(p.description,20)}}</span>-->
        <!--</div>-->
        <!--<a class="see-more" @click="promotionDetailVisible = true">-->
        <!--<i class="el-icon-arrow-right"></i>-->
        <!--</a>-->
        <!--</div>-->
        <!--<el-dialog class="promotion-detail-dialog"-->
        <!--width="80%"-->
        <!--:visible.sync="promotionDetailVisible">-->
        <!--<div class="promotion-detail-content">-->
        <!--<div class="detail" v-for="p in detailItem.promotions">-->
        <!--<em class="initial">{{p.type.substring(0,1)}}</em>-->
        <!--<div class="title"><h6>{{p.title}}</h6></div>-->
        <!--<div class="desc">{{p.description}}</div>-->
        <!--<div class="duration"><span>活动时间: 2017-11-30 12:00 至 2018-01-09 15:30</span></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<span slot="title" class="promotion-detail-title">活动促销</span>-->
        <!--</el-dialog>-->
    </div>

    <div v-if="view == 'list'" class="machine-list">
        <!--<el-carousel :interval="10000">-->
        <!--<el-carousel-item v-for="item in 4" :key="item">-->
        <!--<img src="download.jpg" alt="" width="100%" height="100%">-->
        <!--</el-carousel-item>-->
        <!--</el-carousel>-->

        <!--<div class="gap"></div>-->

        <!--<div class="items-layout-scoll">-->
        <!--<div class="header-image">-->
        <!--<img src="download.jpg" alt="" height="50px" width="540px">-->
        <!--</div>-->
        <!--<div class="items">-->
        <!--<div class="item" v-for="item in 4">-->
        <!--<img src="download.jpg" alt="" height="200px" width="160px">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="gap"></div>-->

        <!--<div class="items-layout-3">-->
        <!--<div class="header-image">-->
        <!--<img src="download.jpg" alt="" height="50px" width="540px">-->
        <!--</div>-->
        <!--<div class="items">-->
        <!--<div class="item item-1">-->
        <!--<img src="download.jpg" alt="">-->
        <!--</div>-->
        <!--<div class="item item-2">-->
        <!--<img src="download.jpg" alt="">-->
        <!--</div>-->
        <!--<div class="item item-3">-->
        <!--<img src="download.jpg" alt="">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="gap"></div>-->

        <!--<div class="items-layout-6">-->
        <!--<div class="header-image">-->
        <!--<img src="download.jpg" alt="" height="50px" width="540px">-->
        <!--</div>-->
        <!--<div class="items">-->
        <!--<div class="item" v-for="item in 6">-->
        <!--<img src="download.jpg" alt="">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="gap"></div>

        <div class="items-layout-detail">
            <!--<div class="header-image">-->
            <!--<img src="download.jpg" alt="">-->
            <!--</div>-->

            <div class="items">
                <div class="item" v-for="item in onsaleItems">
                    <div class="item-img" @click="selectItem(item)">
                        <img :src="item.images[0]" alt="">
                    </div>

                    <div class="infos">
                        <div class="promotions">
							<span v-for="p in item.promotions">
								{{p.promotionName}}
							</span>
                        </div>
                        <div class="title">{{item.title}}</div>
                        <div class="price"><em>{{item.salePrice}}<span>元</span></em>
                            <del>{{item.price}}<span>元</span></del>
                        </div>
                        <div class="stock">库存{{item.stock}}份</div>
                        <div class="buy-pane">
                            <a v-show="item.buyCount > 0" class="remove" @click="removeItem(item)" href="javascript:">
                                <i class="el-icon-minus"></i>
                            </a>
                            <span v-show="item.buyCount > 0" class="buy-count">{{item.buyCount}}</span>
                            <a class="add" @click="addItem(item)" href="javascript:">
                                <i class="el-icon-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <a v-if="view == 'detail'" class="back-button" @click="unselectItem()">
        <img src="back-button.png">
    </a>

    <div class="list-cover" v-show="showCartContent" @click="showCartContent = false"></div>
    <div class="machine-footer" v-show="totalCount > 0">
        <div class="bar">
            <div class="cart-content" v-show="showCartContent">
                <div class="header">
                    <a @click="showCartContent = false"><i class="el-icon-close"></i></a>
                    <h6>选品栏</h6>
                    <a class="clear" @click="confirmClearCart()"><i class="el-icon-delete"></i>清空</a>
                </div>

                <div class="cart-item" v-for="item in cartItems">
                    <div class="small-img"><img :src="item.images[0]" alt=""></div>
                    <div class="title">
                        <h6>{{item.title}}</h6>
                    </div>
                    <div class="price"><em>{{item.salePrice}}</em>元
                    </div>

                    <div class="stock">
                        <div class="buy-pane">
                            <a v-show="item.buyCount > 0" class="remove" @click="removeItem(item)"
                               href="javascript:">
                                <i class="el-icon-minus"></i>
                            </a>
                            <span v-show="item.buyCount > 0" class="buy-count">{{item.buyCount}}</span>
                            <a class="add" @click="addItem(item)" href="javascript:">
                                <i class="el-icon-plus"></i>
                            </a>

                        </div>
                        <em>库存{{item.stock}}件</em>
                    </div>

                </div>
            </div>
            <div class="cart-icon" @click="showCartContent = !showCartContent">
                <span class="total-count">{{totalCount}}</span>
                <img src="cart-bag.png">
            </div>

            <div class="total-price">
                <div class="price">总计：<em>{{totalSalePrice}}</em>元
                    <!--<del>{{totalPriceOriginal}}元</del>-->
                </div>
                <!--<div class="tip">含限购商品，实际金额以支付结果为准</div>-->
            </div>
            <a href="javascript:" class="go-to-pay" @click="showQR()">
                <span>去支付</span>
                <img src="pay-button.png">
            </a>
        </div>
        <img class="cart-background" src="bottom-background.png">
    </div>
    <el-dialog class="qr-dialog"
               width="80%"
               top="10vh"
               :show-close="false"
               :center="true"
               :visible.sync="qrVisible">
        <div class="qr-content" @click="qrVisible = false">
            <h6>淘宝扫一扫，支付{{totalSalePrice}}元</h6>
            <div id="payQR" class="qr" v-show="qrImage"></div>
            <div class="wait" v-show="!qrImage">正在生成支付二维码，请稍后 <i class="el-icon-loading"></i>
            </div>
            <img class="qr-background" src="qrbg.png">
        </div>
        <!--<span slot="title" class="qr-title">淘宝扫一扫，支付{{totalPrice}}元-->
        <!--<i class="el-icon-error" @click="qrVisible = false"></i>-->
        <!--</span>-->
    </el-dialog>
    <div class="delivery" v-if="view == 'delivery'">
        <div class="pay-success" v-if="paySuccessVisible">
            <div class="dialog">
                <span class="price-info-large">
                    <em>{{ payOrderPrice }}</em>元
                </span>
                <span class="price-info-small">
                    <span>支付宝支付</span>
                    <em>{{payOrderPrice}}元</em>
                </span>
                <img src="delivery.png" alt="">
            </div>
            <div class="bg-cover"></div>
        </div>
        <el-carousel :interval="5000" height="30vh" :autoplay="true" indicator-position="none" arrow="never">
            <el-carousel-item v-for="img in adsDelivery" :key="img.image" arrow="always">
                <img :src="img.image" alt="" width="100%" height="100%">
            </el-carousel-item>
        </el-carousel>
        <div class="item-list">
            <img src="delivery-bg.png" alt="" class="delivery-bg">
            <div class="user">
                <div class="name">{{deliveryInfo.username}}</div>
                <div class="status">出货中...</div>
            </div>
            <div class="header">
                <div class="order-id">订单编号：{{deliveryInfo.deliveryOrderId}}</div>
                <div class="total-count">共{{deliveryInfo.deliveryItems.length}}件商品</div>
            </div>
            <div v-for="item in deliveryInfo.deliveryItems" class="delivery-item">
                <div class="cover">
                    <img :src="item.cover" alt="">
                </div>
                <div class="title">
                    <h6>{{ item.title }}</h6>
                    <span>×{{ item.count }}</span>
                </div>
                <div class="status">
                    <em>{{ getDeliveryStatus(item.status) }}</em>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </div>
</div>
<!--<script src="randomock.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.0/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="qrcode.min.js"></script>
<script>
    // const resourceRoot = 'http://139.224.54.234:8082/';
    // const apiRoot = 'http://139.224.54.234:8081/';

    const resourceRoot = 'http://139.224.54.234:8082/';
    const apiRoot = 'api/';
    const apiBackRoot = 'apiBack/';

    const adShowWait = 60000; //无操作显示广告等待时间
    const adStayDuration = 5000; //每张广告持续时间
    const checkMachineDuration = 5000; //机器状态轮询时间

    const qrWaitDuration = 300000; //二维码超时时间
    const qrCheckInterval = 5000; //扫码状态轮询时间
    const deliveryCheckInterval = 5000; //出货状态轮询时间

    function __get(url, param) {
        return new Promise(function (rs, rj) {
            $.get(url, param)
                .done(function (resp) {
                    rs(resp);
                })
                .fail(function (resp) {
                    rj(resp);
                })
        })
    }

    function __postJson(url, param) {
        return new Promise(function (rs, rj) {
            $.ajax({
                method: 'post',
                url: url,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(param),
                dataType: "json"
            }).done(function (resp) {
                rs(resp);
            })
                .fail(function (resp) {
                    rj(resp);
                })
        })
    }

    function getUrl(url, param) {
        return __get(apiRoot + url, param);
    }

    function postUrl(url, param) {
        return __postJson(apiRoot + url, param);
    }

    function getBackUrl(url, param) {
        return __get(apiBackRoot + url, param);
    }

    function postBackUrl(url, param) {
        return __postJson(apiBackRoot + url, param);
    }

    function getInfo(name) {
        return localStorage[name];
    }

    function setInfo(name, value) {
        localStorage[name] = value;
    }

    function HandleBag() {
        this._timeoutBag = [];
        this._intervalBag = [];
        this.clear = function () {
            this._timeoutBag.forEach(_ => clearTimeout(_));
            this._intervalBag.forEach(_ => clearInterval(_));
            this._timeoutBag.length = 0;
            this._intervalBag.length = 0;
        };

        this.setTimeout = function (handle, timeout) {
            this._timeoutBag.push(setTimeout(handle, timeout));
        };
        this.setInterval = function (handle, timeout ,first) {
            if(first) handle();
            this._intervalBag.push(setInterval(handle, timeout));
        };
    }

    HandleBag.clear = function (bag) {
        if (bag) bag.clear();
    };

    function PromiseDebounce() {
    }

    PromiseDebounce.create = function (handle) {
        let exists = null;
        return function () {
            if (exists) {
                //直接跳过不执行
                return Promise.reject('debounce cancel');
            }
            else {
                exists = handle();
                return exists.then(_ => {
                    exists = null;
                    return _;
                });
            }
        }
    };


    let vm = new Vue({
        el: '#mfsj-container',
        data: {
            view: 'list',
            deviceTaobaoNo: '',
            deviceShopId: '',
            // machineTitle: '膜法世家99号',
            // machineNumber: '12005',
            deviceInfo: {},

            totalCount: 0,
            totalPrice: 0,
            totalSalePrice: 0,

            qrVisible: false,
            qrImage: false,
            qrTimer: 0,

            promotionDetailVisible: false,
            detailItem: null,
            onsaleItems: [],

            ads: [],
            showAd: null,
            showAdIndex: 0,
            machineError: false,

            showCartContent: false,

            machineInfoDialog: false,
            machineInfo: {
                deviceNo: '',
                shopId: '',
            },
            machineInfoRules: {
                deviceNo: [{
                    required: true, message: '请输入机器编号'
                }],
                shopId: [{
                    required: true, message: '请输入门店编号'
                }]
            },
            machineInfoClicks: 0,
            machineInfoClicksDebounce: null,

            paySuccessVisible: false,
            payOrderPrice: 0,
            payOrderId: null,
            deliveryInfo: {
                deliveryOrderId: 1233329295491234,
                deliveryItems: []
            },
            deliveryStatus: {
                "-3": '取消',
                "-2": '异常',
                "-1": '缺货',
                "1": '准备中',
                "2": '取货中',
                "3": '出货中',
                "4": '已取货'
            }
        },
        computed: {
            cartItems() {
                return (this.onsaleItems || []).filter(i => i.buyCount > 0);
            },
            adsShowing() {
                return this.ads.filter(a => a.positionType == (this.machineError ? 2 : 1))
            },
            adsDelivery() {
                return this.ads.filter(a => a.positionType == 3);
            }
        },
        created() {
            setInterval(_ => this.randomSelectAds(), adStayDuration);
            setInterval(_ => this.queryMachineInfo(), checkMachineDuration);

            this.adsShowDebounce = _.debounce(_ => {
                this.clearCart();
                this.view = 'ads';
            }, adShowWait);

            this.machineInfoClicksDebounce = _.debounce(_ => {
                this.machineInfoClicks = 0;
            }, 1000);

            this.deviceTaobaoNo = getInfo('deviceNo');
            this.initMachine();

        },
        watch: {
            machineError(value) {
                if (value) {
                    this.view = 'ads';
                }
                this.randomSelectAds();
            },
            qrVisible(value) {
                if (!value) {
                    //清除二维码的所有计时器
                    HandleBag.clear(this.qrBag);
                }
            },
            view(value) {
                if (value != 'delivery') {
                    HandleBag.clear(this.deliveryBag);
                }
            }
        },
        methods: {
            clickMachineInfo() {
                this.machineInfoClicks++;
                this.machineInfoClicksDebounce();
                if (this.machineInfoClicks > 8) {
                    this.showMachineInfo();
                }
            },
            showMachineInfo() {
                this.machineInfo.deviceNo = this.deviceTaobaoNo;
                this.machineInfo.shopId = '';
                this.machineInfoDialog = true;
            },
            confirmMachineInfo() {
                this.$refs['machineInfoForm'].validate((valid) => {
                    if (valid) {
                        getUrl('device/detail', {deviceTaobaoNo: this.machineInfo.deviceNo})
                            .then(resp => {
                                if (resp.data.shopId == this.machineInfo.shopId) {
                                    this.deviceInfo = resp.data;
                                    this.$message('注册成功');
                                    this.deviceTaobaoNo = resp.data.deviceTaobaoNo;
                                    setInfo('deviceNo', this.deviceTaobaoNo);
                                    this.initMachine();
                                    this.machineInfoDialog = false;
                                }
                                else {
                                    this.$message({
                                        message: '注册失败，门店编号不匹配，请重新检查输入',
                                        type: 'warning'
                                    })
                                }
                            });
                    } else {
                        return false;
                    }
                });
            },
            initMachine() {
                if (this.deviceTaobaoNo) {
                    this.clearCart();
                    this.queryMachineInfo();
                    this.queryItems();
                    this.queryAds();
                    if (this.adsShowing.length > 0) {
                        this.view = 'ads';
                    }
                }
            },
            queryMachineInfo() {
                getUrl('device/detail', {deviceTaobaoNo: this.deviceTaobaoNo})
                    .then(resp => {
                        this.deviceInfo = resp.data;
                        this.machineError = false;
                    }).catch(resp => {
                    this.machineError = true;
                });
            },
            queryAds() {
                getUrl('advert/list', {deviceTaobaoNo: this.deviceTaobaoNo})
                    .then((resp) => {
                        this.ads = resp.data.map((ad) => {
                            ad.image = resourceRoot + ad.image;
                            return ad;
                        });
                        if (this.adsShowing.length > 0) {
                            this.view = 'ads';
                        }

                        this.randomSelectAds();
                    }).catch((resp, status, err) => {
                    this.$message(resp.statusText);
                });
            },
            randomSelectAds() {
                let choose = this.adsShowing || [];

                if (choose.length > 0) {
                    this.showAd = choose[this.showAdIndex];
                    this.showAdIndex = (this.showAdIndex + 1) % choose.length;
                }
                else {
                    this.showAd = null;
                }
            },
            clickAd(ad) {
                // //todo: debug
                // this.payOrderId = '762b2f06-2e63-4eda-9aa2-a40e811092ce';
                // this.toDeliveryView();
                // return;

                if (this.machineError) return;
                let item = this.onsaleItems.find((item) => item.taobaoNo == ad.url);   //taobaoNumber
                if (item) {
                    this.selectItem(item);
                }
                else {
                    this.view = 'list';
                }
            },
            everyClick() {
                this.adsShowDebounce();
            },
            queryItems() {
                getUrl('product/list', {deviceTaobaoNo: this.deviceTaobaoNo})
                    .then((resp) => this.onsaleItems = resp.data.map((d) => {
                        // let images = ['download.jpg'];
                        let images = (d.images || []).map((i) => resourceRoot + i);
                        return {
                            taobaoNo: d.productTaobaoNo,
                            title: d.name,
                            hot: d.hot,
                            images: images.length > 0 ? images : ['download.jpg'],
                            price: d.price,
                            salePrice: d.salePrice,
                            stock: d.stock,
                            buyCount: 0,
                            unit: d.unit,
                            description: '',
                            specifications: d.specifications,
                            promotions: d.promotion
                        };
                    }));
            },
            addItem(item) {
                if (item.buyCount < item.stock) {
                    item.buyCount = item.buyCount + 1;
                    this.refreshCart();
                }
            },
            removeItem(item) {
                item.buyCount = Math.max(0, item.buyCount - 1);
                this.refreshCart();
            },
            selectItem(item) {
                if (item.detailInfo) {
                    this.detailItem = item;
                    this.view = 'detail';
                }
                else {
                    getUrl(`/product/detail/${this.deviceTaobaoNo}/${item.taobaoNo}`)
                        .then((data) => {
                            let detailItem = data.data;
                            item.rate = detailItem.score;
                            // item.content = detailItem.content;
                            item.description = detailItem.content;
                            item.detailInfo = detailItem;
                            this.detailItem = item;
                            this.view = 'detail';
                        })
                }
            },
            unselectItem() {
                this.detailItem = null;
                this.view = 'list';
            },
            showQR() {
                this.qrImage = false;
                this.payOrderId = null;
                HandleBag.clear(this.qrBag);

                this.qrBag = new HandleBag();
                this.qrBag.setTimeout(_ => {
                    //超时关闭
                    this.qrVisible = false;
                }, qrWaitDuration);

                this.qrTimer = Math.round(qrWaitDuration / 1000);
                this.qrBag.setInterval(_ => {
                    //QR倒计时
                    this.qrTimer = this.qrTimer - 1;
                }, 1000);

                //保持不显示广告
                this.qrBag.setInterval(_ => this.adsShowDebounce(), 10000);

                let checkOrderStatus = PromiseDebounce.create(_ => {
                    return getUrl(`order/status/${this.payOrderId}`);
                });
                this.qrBag.setInterval(_ => {
                    checkOrderStatus().then(_ => {
                        if (_.data == 2 || _.data >= 20) {
                            //已支付
                            this.qrVisible = false;
                            this.toDeliveryView()
                        }
                    }).catch(_ => {
                        console.error('check qr status', _);
                    });
                }, qrCheckInterval);

                postUrl('order/create', {
                    deviceTaobaoNo: this.deviceInfo.deviceTaobaoNo,
                    item: this.cartItems.map(x => {
                        return {
                            productTaobaoNo: x.taobaoNo,
                            quantity: x.buyCount,
                            salePrice: x.salePrice,
                            saleTotalPrice: x.buyCount * x.salePrice,
                            sku: '0'
                        }
                    })
                }).then(resp => {
                    if (!this.qrCreator) {
                        this.qrCreator = new QRCode(document.getElementById("payQR"), {
                            text: resp.data.qrcode,
                            width: 400,
                            height: 400,
                            colorDark: "#000000",
                            colorLight: "#ffffff",
                            correctLevel: QRCode.CorrectLevel.H
                        });
                    }
                    else {
                        this.qrCreator.clear();
                        this.qrCreator.makeCode(resp.data.qrcode);
                    }

                    this.payOrderId = resp.data.orderId;
                    this.qrImage = true;
                });

                this.qrVisible = true;
            },
            toDeliveryView() {
                this.payOrderPrice = this.totalSalePrice;
                this.clearCart();
                this.paySuccessVisible = true;


                this.deliveryBag = new HandleBag();
                this.deliveryBag.setTimeout(_ => this.paySuccessVisible = false, 5000);

                let checkDeliveryStatus = PromiseDebounce.create(_ => {
                    return getUrl(`order/pickup-status/${this.payOrderId}`);
                });
                this.deliveryBag.setInterval(_ => {
                    checkDeliveryStatus().then(_ => {
                        this.deliveryInfo = _.data;
                    });
                }, deliveryCheckInterval,true);

                this.deliveryBag.setTimeout(_=>{
                    this.view = 'list';
                    this.adsShowDebounce();
                },60000);

                this.view = 'delivery';
            },
            refreshCart() {
                let r = this.cartItems.reduce((o, b) => {
                    o.price = o.price + b.price * b.buyCount;
                    o.salePrice = o.salePrice + b.salePrice * b.buyCount;
                    o.count = o.count + b.buyCount;
                    return o;
                }, {
                    price: 0,
                    salePrice: 0,
                    count: 0
                });

                this.totalPrice = r.price.toFixed(2);
                this.totalSalePrice = r.salePrice.toFixed(2);
                this.totalCount = r.count;

                if (this.totalCount == 0) {
                    this.showCartContent = false;
                }
            },
            confirmClearCart() {
                this.$confirm('清空购物车？')
                    .then(_ => {
                        this.clearCart();
                    })
            },
            clearCart() {
                for (let item of this.onsaleItems) {
                    item.buyCount = 0;
                }
                this.refreshCart();
            },
            longCut(text, length) {
                if (text.length > length) {
                    return text.substr(0, length) + '...';
                }
                else {
                    return text;
                }
            },
            getDeliveryStatus(status){
                let r = this.deliveryStatus[status];
                return r || '准备中';
            },
            seePromotionDetails() {

            }
        }
    });
</script>
</body>
</html>