<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.3.5/theme-chalk/index.css" rel="stylesheet">
    <link href="mfsj.css?v=1.09" rel="stylesheet">
    <title>膜法世家</title>
</head>
<body>

<div id="mfsj-container" @click="everyClick()" :class="[ view ]">
    <el-dialog :append-to-body="true"
               :fullscreen="true"
               title="修改机器信息"
               :visible.sync="machineInfoDialog">
        <div v-if="loginToken">
            <div class="debug-info"><span>Url : {{url}}</span> <span> App Version : {{version}}</span></div>
            <el-form :model="machineInfo" :rules="machineInfoRules" ref="machineInfoForm" label-width="80px">
                <el-form-item label="机器编号" prop="deviceNo">
                    <el-input v-model="machineInfo.deviceNo"></el-input>
                </el-form-item>
                <el-form-item label="门店编号" prop="shopId">
                    <el-input v-model.number="machineInfo.shopId"></el-input>
                </el-form-item>

                <el-button @click="machineInfoDialog = false">取消</el-button>
                <el-button type="primary" @click="confirmMachineInfo">确定</el-button>
            </el-form>
        </div>
        <div v-if="!loginToken">
            <el-form :model="loginInfo" :rules="loginInfoRules" ref="loginInfoForm" label-width="80px">
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="loginInfo.username"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model.number="loginInfo.password"></el-input>
                </el-form-item>

                <el-button @click="machineInfoDialog = false">取消</el-button>
                <el-button type="primary" @click="confirmLoginInfo">确定</el-button>
            </el-form>
        </div>
    </el-dialog>

    <div class="ads" v-if="view == 'ads'" @click="clickAd(showAd)">
        <img v-if="showAd" :src="showAd.image">
    </div>

    <div class="machine-header" v-if="view == 'list'">
        <em>{{deviceInfo.showName}}</em>
        <div @click="clickMachineInfo()">
            <span>{{deviceInfo.deviceTaobaoNo}}</span>
        </div>
        <img src="top-background.png">

    </div>

    <div v-if="view == 'detail'" class="item-details">
        <el-carousel :interval="5000" height="40vh" :autoplay="true">
            <el-carousel-item v-for="img in detailItem.images" :key="img" arrow="always">
                <img :src="img" alt="" width="100%" height="100%">
            </el-carousel-item>
        </el-carousel>
        <div class="infos">
            <div class="title">{{detailItem.title}}</div>
            <div class="rate">
                <i class="el-icon-star-on" v-for="i in detailItem.rate"></i>
                <i class="el-icon-star-off" v-for="i in (5-detailItem.rate)"></i>
                <span class="stock">库存{{detailItem.stock}}份</span>
            </div>
            <div class="price-panel">
				<span class="price">
					<em>{{detailItem.salePrice}}<small>元</small></em>

					<del class="price-original">
						{{detailItem.price}}元
					</del>
				</span>

                <div class="buy-pane">
                    <a v-show="detailItem.buyCount > 0" class="remove" @click="removeItem(detailItem)"
                       href="javascript:">
                        <i class="el-icon-minus"></i>
                    </a>
                    <span v-show="detailItem.buyCount > 0" class="buy-count">{{detailItem.buyCount}}</span>
                    <a class="add" @click="addItem(detailItem)" href="javascript:">
                        <i class="el-icon-plus"></i>
                    </a>
                </div>
            </div>


            <!--<div class="promotions">-->
            <!--<span v-for="p in detailItem.promotions">-->
								<!--{{p.promotionName}}-->
            <!--</span>-->
            <!--</div>-->


            <div class="promotions-details">
                <div class="promotion-detail" v-for="p in detailItem.promotions">
                    <span class="type">{{ p.type }}</span>
                    <span class="desc">购买满{{ p.quotaQuantity }}件减</span>
                </div>
            </div>

            <div class="description">
                <h6>商品介绍</h6>
                <p>{{detailItem.description}}</p>
            </div>
        </div>

    </div>

    <div v-if="view == 'list'" class="machine-list">
        <div class="gap"></div>

            <div class="items">
                <div class="item" v-for="item in onsaleItems">
                    <div class="item-img" @click="selectItem(item)">
                        <img :src="item.images[0]" alt="">
                    </div>

                    <div class="infos" @click="selectItem(item)">
                        <div class="promotions">
							<span v-for="p in item.promotions">
								{{p.promotionName}}
							</span>
                        </div>
                        <div class="title">{{item.title}}</div>
                        <div class="price"><em>{{item.salePrice}}<span>元</span></em>
                            <del>{{item.price}}<span>元</span></del>
                        </div>

                        <div class="buy-pane">
                            <a class="remove" @click.stop.prevent="removeItem(item)"
                               href="javascript:">
                                <i class="el-icon-minus"></i>
                            </a>
                            <span class="buy-count">{{item.buyCount}}</span>
                            <a class="add" @click.stop.prevent="addItem(item)" :class="{ 'max-count' : item.buyCount == item.stock }" href="javascript:">
                                <i class="el-icon-plus"></i>
                            </a>
                            <div class="stock">库存{{item.stock}}份</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <a v-if="view == 'detail' || view == 'delivery'" class="back-button" @click="backToList()">
        <img src="back-button.png">
    </a>


    <div class="pay-menu" v-show="!showCartContent && cartItems.length > 0" >
        <img src="pay-menu-up.png" @click="showCartContent = true">
        <img src="pay-menu-down.png" @click="showQR()">
        <span class="total-count">{{totalCount}}</span>
        <div class="price" >¥{{totalSalePrice}}</div>
    </div>
    <div class="list-cover" v-show="showCartContent" @click="showCartContent = false" @touchmove.stop.prevent=""></div>
    <div class="machine-footer" v-show="showCartContent">
        <div class="bar">
            <div class="cart-content">
                <div class="header">
                    <a @click="showCartContent = false"><i class="el-icon-close"></i></a>
                    <h6>选品栏</h6>
                    <a class="clear" @click="clearCart()"><i class="el-icon-delete"></i>清空</a>
                </div>

                <div class="item-list">
                    <div class="cart-item" v-for="item in cartItems">
                        <div class="small-img"><img :src="item.cover" alt=""></div>
                        <div class="title">
                            <h6>{{item.title}}</h6>
                        </div>
                        <div class="price"><em>{{item.salePrice}}</em>元

                        </div>

                        <div class="stock">
                            <div class="buy-pane">
                                <a v-show="item.buyCount > 0" class="remove" @click="removeItem(item)"
                                   href="javascript:">
                                    <i class="el-icon-minus"></i>
                                </a>
                                <span v-show="item.buyCount > 0" class="buy-count">{{item.buyCount}}</span>
                                <a class="add" @click="addItem(item)" href="javascript:">
                                    <i class="el-icon-plus"></i>
                                </a>
                            </div>
                            <em>库存{{item.stock}}件</em>
                        </div>
                    </div>
                    <div class="empty-tip" v-show="cartItems.length == 0" @click="showCartContent = false">
                        购物车空空如也，赶紧去选购吧~
                    </div>
                </div>
            </div>
            <!--<div class="cart-icon" @click="showCartContent = !showCartContent">-->
            <!--<span class="total-count">{{totalCount}}</span>-->
            <!--<img src="cart-bag.png">-->
            <!--</div>-->

            <div class="total-price">
                <div class="price">总计：<em>{{totalSalePrice}}</em>元
                    <del>{{totalPrice}}元</del>
                </div>
                <!--<div class="tip">含限购商品，实际金额以支付结果为准</div>-->
            </div>
            <a href="javascript:" class="go-to-pay" @click="showQR()">
                <span>去支付</span>
                <img src="pay-button.png">
            </a>
        </div>
        <!--<img class="cart-background" src="bottom-background.png">-->
    </div>
    <el-dialog class="qr-dialog"
               width="80%"
               top="10vh"
               :show-close="false"
               :center="true"
               :visible.sync="qrVisible">
        <div class="qr-content" @click="qrVisible = false">
            <em class="timer" v-show="qrImage">{{qrTimer}}</em>
            <h6>淘宝扫一扫<img src="taobaoscan.png">支付{{totalSalePrice}}元</h6>
            <div id="payQR" class="qr" v-show="qrImage"></div>
            <div class="wait" v-show="!qrImage">正在生成支付二维码，请稍后 <i class="el-icon-loading"></i>
            </div>
            <img class="qr-background" src="qr-scan-bg.png">
        </div>
        <!--<span slot="title" class="qr-title">淘宝扫一扫，支付{{totalPrice}}元-->
        <!--<i class="el-icon-error" @click="qrVisible = false"></i>-->
        <!--</span>-->
    </el-dialog>
    <div class="delivery" v-if="view == 'delivery'">
        <div class="pay-success dialog-wrapper" v-if="paySuccessVisible">
            <div class="dialog">
                <span class="price-info-large">
                    <em>{{ payOrderPrice }}</em>元
                </span>
                <span class="price-info-small">
                    <span>支付宝支付</span>
                    <em>{{payOrderPrice}}元</em>
                </span>
                <img class="bg" src="delivery.png" alt="">
            </div>
            <div class="bg-cover"></div>
        </div>

        <div class="delivery-fail dialog-wrapper" v-if="showContactTaobao" @click="backToList()">
            <div class="dialog">
                <div class="dialog-content">
                    <h6 >等待超时</h6>
                    <p>您可联系<em>[淘宝客服]</em>询问当前状态</p>
                    <p><strong>或拨打客服电话：400-000-000</strong></p>
                    <span>{{deliveryTimer}}s 后将自动关闭</span>
                </div>
                <img  class="bg" src="delivery-error.png" alt="">
            </div>
            <div class="bg-cover"></div>
        </div>

        <el-carousel :interval="5000" height="30vh" :autoplay="true" indicator-position="none" arrow="never">
            <el-carousel-item v-for="img in adsDelivery" :key="img.image" arrow="always">
                <img :src="img.image" alt="" width="100%" height="100%">
            </el-carousel-item>
        </el-carousel>
        <div class="item-list">
            <img src="delivery-bg.png" alt="" class="delivery-bg">
            <div class="user">
                <div class="name">{{deliveryInfo.username}}</div>
                <div class="status">{{deliveryTimer}} {{getDic(deliveryOrderStatus,orderStatusDic)}}</div>
            </div>
            <div class="header">
                <div class="order-id">订单编号：{{deliveryInfo.deliveryOrderId}}</div>
                <div class="total-count">共{{deliveryInfo.deliveryItems.length}}件商品</div>
            </div>
            <div v-for="item in deliveryInfo.deliveryItems" class="delivery-item">
                <div class="cover">
                    <img :src="item.cover" alt="">
                </div>
                <div class="title">
                    <h6>{{ item.title }}</h6>
                    <span>×{{ item.count }}</span>
                </div>
                <div class="status">
                    <em>{{ getDic(item.status,deliveryStatusDic,'准备中') }}</em>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </div>
</div>
<!--<script src="randomock.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.0/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="qrcode.min.js"></script>
<script src="dist/main.js?v=1.09"></script>
</body>
</html>