body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: ”;
}
abbr,
acronym {
  border: 0;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-size: 30px;
  background-color: #282020;
  width: 100%;
  margin: 0;
  padding: 0;
}
#mfsj-container {
  overflow: hidden;
  padding-bottom: 6em;
}
#mfsj-container .gap {
  height: 50px;
}
#mfsj-container .back-button {
  display: block;
  position: fixed;
  top: 200px;
  width: 20%;
  z-index: 10;
}
#mfsj-container .back-button > img {
  width: 100%;
}
#mfsj-container div.ads {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}
#mfsj-container div.ads > img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#mfsj-container div.machine-header {
  background-color: #343435;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1em;
  z-index: 999;
  overflow: hidden;
  line-height: 95px;
  height: 95px;
}
#mfsj-container div.machine-header > em {
  font-size: 30px;
  font-style: italic;
  vertical-align: center;
}
#mfsj-container div.machine-header > div {
  float: right;
  margin-right: 2em;
}
#mfsj-container div.machine-header > div > span {
  display: inline-block;
  background-color: #dc6e63;
  color: white;
  font-size: 10px;
  line-height: 1em;
  padding: 0.5em;
  border-radius: 1em;
}
#mfsj-container div.machine-header > img {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}
#mfsj-container div.list-cover {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: black;
  z-index: 100;
}
#mfsj-container div.machine-list {
  padding-top: 105px;
  padding-bottom: 120px;
}
#mfsj-container div.items-layout-scoll div.items {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}
#mfsj-container div.items-layout-scoll div.items div.item {
  display: inline-block;
}
#mfsj-container div.items-layout-scoll div.items div.item img {
  display: inline-block;
}
#mfsj-container div.items-layout-3 div.items {
  overflow: hidden;
}
#mfsj-container div.items-layout-3 div.items div.item {
  float: left;
  overflow: hidden;
}
#mfsj-container div.items-layout-3 div.items div.item-1 {
  width: 50%;
  height: 100%;
}
#mfsj-container div.items-layout-3 div.items div.item-2 {
  width: 50%;
  height: 50%;
}
#mfsj-container div.items-layout-3 div.items div.item-3 {
  width: 50%;
  height: 50%;
}
#mfsj-container div.items-layout-6 div.items {
  overflow: hidden;
}
#mfsj-container div.items-layout-6 div.items div.item {
  float: left;
  overflow: hidden;
  width: 33.33333333%;
  height: 33.33333333%;
}
#mfsj-container div.header-image {
  width: 100%;
  height: 0;
  padding-bottom: 20%;
  overflow: hidden;
}
#mfsj-container div.header-image > img {
  width: 100%;
}
#mfsj-container .buy-pane-common {
  border-radius: 99px;
  white-space: nowrap;
}
#mfsj-container .buy-pane-common > a {
  color: black;
  text-decoration: none;
  display: inline-block;
  border-radius: 99px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: white;
}
#mfsj-container .buy-pane-common > a.add {
  background-color: #f6c870;
}
#mfsj-container .buy-pane-common > a.remove {
  border: solid 1px gray;
}
#mfsj-container .buy-pane-common > span {
  line-height: 2em;
  display: inline-block;
  width: 2em;
  text-align: center;
}
#mfsj-container div.items-layout-detail > div.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#mfsj-container div.items-layout-detail > div.items > div.item {
  border-radius: 10px;
  background-color: #fff;
  padding: 1% 2%;
  width: 47%;
  margin-left: 2%;
  margin-top: 65px;
  margin-bottom: 5%;
  box-sizing: border-box;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.item-img {
  border-radius: 10px;
  position: relative;
  bottom: 65px;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  margin-bottom: -75px;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.item-img > img {
  width: 100%;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos {
  position: relative;
  display: flex;
  flex-direction: column;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.promotions {
  min-height: 1em;
  overflow: hidden;
  padding: 0 0.2em;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.promotions > span {
  font-size: 0.8em;
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: #d78280;
  color: white;
  border-radius: 5px;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.title {
  font-size: 1.1em;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.price > em {
  font-size: 1.4em;
  font-weight: bold;
  color: #da6058;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.price > span {
  font-size: 0.5em;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.stock {
  margin-top: 5px;
  color: #4d4e4f;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.buy-pane {
  border-radius: 99px;
  white-space: nowrap;
  text-align: right;
  line-height: 3em;
  flex: 1;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.buy-pane > a {
  color: black;
  text-decoration: none;
  display: inline-block;
  border-radius: 99px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: white;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.buy-pane > a.add {
  background-color: #f6c870;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.buy-pane > a.remove {
  border: solid 1px gray;
}
#mfsj-container div.items-layout-detail > div.items > div.item > div.infos > div.buy-pane > span {
  line-height: 2em;
  display: inline-block;
  width: 2em;
  text-align: center;
}
#mfsj-container .item-details {
  background-color: #ddd;
  margin-bottom: 5em;
}
#mfsj-container .item-details > div.infos {
  background-color: white;
  padding: 1em 1em 3em 1em;
}
#mfsj-container .item-details > div.infos > div.title {
  font-size: 1.6em;
  margin-bottom: 0.5em;
}
#mfsj-container .item-details > div.infos > div.description {
  color: #3a3a3c;
  margin-bottom: 0.5em;
}
#mfsj-container .item-details > div.infos > div.promotions {
  margin-bottom: 0.5em;
  overflow: hidden;
}
#mfsj-container .item-details > div.infos > div.promotions span {
  margin: 0.2em 0.2em;
  font-size: 0.8em;
  display: block;
  float: left;
  padding: 0.2em 0.4em;
  background-color: #d99634;
  color: white;
}
#mfsj-container .item-details > div.infos > div.rate > i {
  font-size: 1.2em;
  color: #f5c844;
  width: 1.2em;
}
#mfsj-container .item-details > div.infos > div.rate > span.stock {
  color: gray;
}
#mfsj-container .item-details > div.infos > div.price-panel {
  position: relative;
  padding-bottom: 2em;
  border-bottom: solid 1px #e4e5e6;
}
#mfsj-container .item-details > div.infos > div.price-panel > span.price {
  font-size: 1.6em;
}
#mfsj-container .item-details > div.infos > div.price-panel > span.price > em {
  color: #dc695d;
  font-size: 1.5em;
}
#mfsj-container .item-details > div.infos > div.price-panel > span.price > .price-original {
  color: gray;
}
#mfsj-container .item-details > div.infos > div.price-panel > div.buy-pane {
  font-size: 1.5em;
  position: absolute;
  right: 5px;
  bottom: 20px;
  border-radius: 99px;
  white-space: nowrap;
}
#mfsj-container .item-details > div.infos > div.price-panel > div.buy-pane > a {
  color: black;
  text-decoration: none;
  display: inline-block;
  border-radius: 99px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: white;
}
#mfsj-container .item-details > div.infos > div.price-panel > div.buy-pane > a.add {
  background-color: #f6c870;
}
#mfsj-container .item-details > div.infos > div.price-panel > div.buy-pane > a.remove {
  border: solid 1px gray;
}
#mfsj-container .item-details > div.infos > div.price-panel > div.buy-pane > span {
  line-height: 2em;
  display: inline-block;
  width: 2em;
  text-align: center;
}
#mfsj-container .item-details > div.infos > div.promotions-details {
  border-bottom: solid 1px #e4e5e6;
}
#mfsj-container .item-details > div.infos > div.promotions-details > div.promotion-detail {
  margin: 1em 0;
}
#mfsj-container .item-details > div.infos > div.promotions-details > div.promotion-detail > span.type {
  border-radius: 3px;
  margin-right: 0.5em;
  color: white;
  background-color: #d78280;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
}
#mfsj-container .item-details .promotion-detail-dialog .detail {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px black;
}
#mfsj-container .item-details .promotion-detail-dialog .detail > em {
  display: block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  color: white;
  float: left;
  font-size: 2em;
  background-color: gray;
  border-radius: 99px;
}
#mfsj-container .item-details .promotion-detail-dialog .detail > div {
  margin-left: 5em;
}
#mfsj-container .item-details .promotion-detail-dialog .detail > div.title > h6 {
  font-size: 1.2em;
  font-weight: bold;
}
#mfsj-container .item-details .promotion-detail-dialog .detail > div.duration {
  margin-top: 1em;
}
#mfsj-container .item-details .promotion-detail-dialog .detail > div.duration > span {
  font-size: 0.8em;
}
#mfsj-container .qr-dialog span.qr-title {
  font-size: 1.5em;
  padding-top: 1em;
}
#mfsj-container .qr-dialog span.qr-title > i.el-icon-error {
  position: absolute;
  font-size: 2em;
  top: -40px;
  right: -30px;
  color: #3d3e3f;
}
#mfsj-container .qr-dialog div.qr-content {
  text-align: center;
}
#mfsj-container .qr-dialog div.qr-content em.timer {
  position: absolute;
  top: 23%;
  right: 13%;
  font-size: 2em;
  color: red;
}
#mfsj-container .qr-dialog div.qr-content img.qr-background {
  width: 100%;
  padding-left: 3%;
}
#mfsj-container .qr-dialog div.qr-content div.qr {
  position: absolute;
  width: 60%;
  margin-top: 35%;
  margin-left: 21%;
}
#mfsj-container .qr-dialog div.qr-content div.qr > img {
  width: 100%;
}
#mfsj-container .qr-dialog div.qr-content div.wait {
  padding-top: 60%;
  position: absolute;
  font-size: 2em;
  text-align: center;
  width: 100%;
}
#mfsj-container .qr-dialog div.qr-content h6 {
  position: absolute;
  width: 100%;
  top: 23%;
  font-size: 1.5em;
}
@media (min-width: 400px) {
  #mfsj-container .qr-dialog div.qr-content h6 {
    font-size: 1.8em;
  }
}
@media (min-width: 500px) {
  #mfsj-container .qr-dialog div.qr-content h6 {
    font-size: 2em;
  }
}
#mfsj-container .qr-dialog .el-dialog {
  background-color: transparent;
  box-shadow: none;
}
#mfsj-container .qr-dialog .el-dialog__header {
  display: none;
}
#mfsj-container .qr-dialog .el-dialog__body {
  padding: 0;
}
#mfsj-container div.delivery {
  padding-bottom: 4em;
}
#mfsj-container div.delivery > div.pay-success {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#mfsj-container div.delivery > div.pay-success > div.dialog {
  margin: 30% 0;
  box-sizing: content-box;
  width: 100%;
  z-index: 25;
  position: relative;
}
#mfsj-container div.delivery > div.pay-success > div.dialog > img {
  margin: 0 10%;
  text-align: center;
  width: 80%;
}
#mfsj-container div.delivery > div.pay-success > div.dialog > span.price-info-large {
  text-align: center;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}
#mfsj-container div.delivery > div.pay-success > div.dialog > span.price-info-large > em {
  font-size: 2.4em;
}
#mfsj-container div.delivery > div.pay-success > div.dialog > span.price-info-small {
  display: flex;
  left: 25%;
  right: 25%;
  top: 65%;
  position: absolute;
}
#mfsj-container div.delivery > div.pay-success > div.dialog > span.price-info-small > span {
  flex: 1;
  color: gray;
}
#mfsj-container div.delivery > div.pay-success > div.bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 24;
}
#mfsj-container div.delivery > div.item-list {
  padding: 0 0.8em;
  position: relative;
}
#mfsj-container div.delivery > div.item-list > img.delivery-bg {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
  top: -20%;
}
#mfsj-container div.delivery > div.item-list > div.user {
  padding: 0.5em 0;
  font-size: 1.3em;
  display: flex;
  color: #f7ac37;
  z-index: 21;
  position: relative;
}
#mfsj-container div.delivery > div.item-list > div.user > div.name {
  text-align: left;
  flex: 1;
}
#mfsj-container div.delivery > div.item-list > div.user > div.status {
  text-align: right;
  flex: 1;
}
#mfsj-container div.delivery > div.item-list > div.header {
  border-top: lightgray dashed 2px;
  display: flex;
  font-size: 0.6em;
  color: #b3b4b6;
  padding: 2em 0;
  z-index: 21;
  position: relative;
}
#mfsj-container div.delivery > div.item-list > div.header > div.order-id {
  flex: 1;
  white-space: nowrap;
  text-align: left;
}
#mfsj-container div.delivery > div.item-list > div.header > div.total-count {
  flex: 1;
  text-align: right;
}
#mfsj-container div.delivery > div.item-list > div.delivery-item {
  display: flex;
  align-items: center;
  margin: 1.4em 0;
}
#mfsj-container div.delivery > div.item-list > div.delivery-item > div.cover {
  width: 100px;
}
#mfsj-container div.delivery > div.item-list > div.delivery-item > div.cover > img {
  width: 100%;
}
#mfsj-container div.delivery > div.item-list > div.delivery-item > div.title {
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  color: #fff;
  flex: 9;
}
#mfsj-container div.delivery > div.item-list > div.delivery-item > div.title > span {
  color: #b3b4b6;
}
#mfsj-container div.delivery > div.item-list > div.delivery-item > div.status {
  font-size: 0.8em;
  color: #c9a76f;
}
#mfsj-container div.delivery > div.item-list > div.footer {
  border-bottom: lightgray dashed 2px;
}
#mfsj-container div.machine-footer {
  height: 150px;
  position: fixed;
  bottom: 20px;
  width: 100%;
  color: white;
  background-color: #393739;
  border-top: solid 1px black;
  z-index: 200;
}
#mfsj-container div.machine-footer div.cart-content {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 210px;
  background-color: white;
  z-index: 900;
  color: black;
  padding: 1em;
  border-radius: 10px;
}
#mfsj-container div.machine-footer div.cart-content > div.header {
  padding: 0.5em 0;
  border-bottom: solid 1px #ebeced;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}
#mfsj-container div.machine-footer div.cart-content > div.header > a {
  padding: 0.2em;
}
#mfsj-container div.machine-footer div.cart-content > div.header > a.clear {
  font-size: 1em;
  color: #696a6b;
}
#mfsj-container div.machine-footer div.cart-content > div.header > h6 {
  padding: 0.2em;
  font-weight: bold;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: solid 1px #ebeced;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.small-img {
  flex: 0 0 2em;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.small-img > img {
  width: 2em;
  height: 2em;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.title {
  flex: 1 1;
  margin-left: 0.4em;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.price {
  flex: 0 0 4em;
  white-space: nowrap;
  margin-left: 0.4em;
  color: #e3676f;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.price > em {
  font-size: 1.2em;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock {
  flex: 0 0 7em;
  text-align: right;
  position: relative;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > div.buy-pane {
  position: relative;
  border-radius: 99px;
  white-space: nowrap;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > div.buy-pane > a {
  color: black;
  text-decoration: none;
  display: inline-block;
  border-radius: 99px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: white;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > div.buy-pane > a.add {
  background-color: #f6c870;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > div.buy-pane > a.remove {
  border: solid 1px gray;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > div.buy-pane > span {
  line-height: 2em;
  display: inline-block;
  width: 2em;
  text-align: center;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > div.buy-pane > a {
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > div.buy-pane > span {
  line-height: 1.5em;
  width: 1.5em;
}
@media (min-width: 400px) {
  #mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > div.buy-pane > a {
    line-height: 2em;
    width: 2em;
    height: 2em;
  }
  #mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > div.buy-pane > span {
    line-height: 2em;
    width: 2em;
  }
}
#mfsj-container div.machine-footer div.cart-content > div.cart-item > div.stock > em {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #f2aa63;
  top: 2em;
}
#mfsj-container div.machine-footer div.cart-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15%;
  width: 20%;
}
#mfsj-container div.machine-footer div.cart-icon > span.total-count {
  position: absolute;
  right: -10px;
  top: 0;
  background-color: #dc6e63;
  color: white;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  border-radius: 1em;
  line-height: 1.5em;
  text-align: center;
  font-size: 1em;
  padding: 0 0.5em;
}
#mfsj-container div.machine-footer div.cart-icon > img {
  width: 100%;
  height: 100%;
}
#mfsj-container div.machine-footer div.total-price {
  float: left;
  line-height: 150px;
  padding-right: 0.5em;
  margin-left: 25%;
  white-space: nowrap;
}
#mfsj-container div.machine-footer div.total-price div.price {
  line-height: 150px;
  font-size: 37.5px;
}
#mfsj-container div.machine-footer div.total-price div.price em {
  font-size: 1em;
}
@media (min-width: 400px) {
  #mfsj-container div.machine-footer div.total-price div.price em {
    font-size: 50px;
  }
}
#mfsj-container div.machine-footer a.go-to-pay {
  display: block;
  height: 120px;
  width: 30%;
  color: black;
  text-align: center;
  text-decoration: none;
  line-height: 120px;
  font-size: 37.5px;
  position: absolute;
  right: 0;
  top: 10px;
}
#mfsj-container div.machine-footer a.go-to-pay > span {
  position: absolute;
  z-index: 1;
  text-align: center;
  display: block;
  width: 110%;
}
#mfsj-container div.machine-footer a.go-to-pay > img {
  border: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
#mfsj-container div.machine-footer div.bar {
  position: relative;
  background-color: #393739;
  width: 100%;
  height: 150px;
}
#mfsj-container div.machine-footer img.cart-background {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -20px;
  z-index: -1;
  height: 190px;
}
.el-message-box {
  transform: scaleX(1.5) scaleY(1.5);
}
/*# sourceMappingURL=mfsj.css.map */