body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}

q:before, q:after {
	content: ”;
}

abbr, acronym {
	border: 0;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@colorMain: #ef8493;
@pageWidth: 100%;
html {
	height: 100%;
}

body {
	//min-width:540px;
	font-size: 30px;
	//background-color: #323032;
	background-color: #282020;
	width: 100%;
	margin: 0;
	padding: 0;
}

div.global-bg {

	background-image: url("global-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.ratio-image(@p) {
	width: 100%;
	height: 0;
	padding-bottom: @p;
	overflow: hidden;
	> img {
		width: 100%;
	}
}

.reset-dialog() {
	div.el-dialog {
		border-radius: 30px;
	}
	div.el-dialog__header {
		display: none;
	}
	div.el-dialog__body {
		padding: 0;
	}
}

@header-height: 95px;

#mfsj-container {
	overflow: hidden;
	//padding-bottom: 6em;
	//background-color: #323032;
	&.detail {
		background-color: white;
		div.pay-menu {
			top: 60%;
		}
	}

	.gap {
		height: 50px;
	}
	.back-button {
		display: block;
		position: fixed;
		top: 15%;
		width: 15%;
		z-index: 10;
		> img {
			width: 100%;
		}
	}
	div.ads {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 999;
		> img {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	div.machine-header {
		//background-color: #343435;
		color: white;
		position: fixed;
		top: 0;
		width: 100%;

		padding: 0 0.5em;
		//z-index: 999;
		overflow: hidden;

		line-height: @header-height;
		height: @header-height;
		> em {
			border-image: url("machine-bg.png") 0 30 0 0 stretch;
			font-size: 0.7em;
			font-style: italic;
			vertical-align: center;
		}
		> div {
			float: right;
			margin-right: 2em;
			> span {
				display: inline-block;
				background-color: #dc6e63;
				color: white;
				font-size: 10px;
				line-height: 1em;
				padding: 0.5em;
				border-radius: 1em;
			}
		}
		> img {
			position: absolute;
			left: 0;
			width: 100%;
			z-index: -1;
		}
	}
	div.list-cover {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0.5;
		background-color: black;
		z-index: 100;
	}

	div.machine-list {
		padding-top: 5em;
		//padding-bottom: 120px;
	}

	//div.items-layout-scoll {
	//	div.items {
	//		white-space: nowrap;
	//		overflow-y: hidden;
	//		overflow-x: scroll;
	//		div.item {
	//			display: inline-block;
	//			img {
	//				display: inline-block;
	//			}
	//		}
	//	}
	//}
	//div.items-layout-3 {
	//	div.items {
	//		overflow: hidden;
	//		div.item {
	//			float: left;
	//			overflow: hidden;
	//		}
	//		div.item-1 {
	//			width: @pageWidth/2;
	//			height: @pageWidth;
	//		}
	//		div.item-2 {
	//			width: @pageWidth/2;
	//			height: @pageWidth/2;
	//		}
	//		div.item-3 {
	//			width: @pageWidth/2;
	//			height: @pageWidth/2;
	//		}
	//	}
	//}
	//div.items-layout-6 {
	//	div.items {
	//		overflow: hidden;
	//		div.item {
	//			float: left;
	//			overflow: hidden;
	//			width: @pageWidth/3;
	//			height: @pageWidth/3;
	//		}
	//	}
	//}

	div.header-image {
		.ratio-image(20%);
	}

	.buy-pane-common {
		border-radius: 99px;
		white-space: nowrap;
		line-height: 2em;
		> img {
			width: 3em;
			display: inline-block;
		}
		> a {
			color: black;
			text-decoration: none;
			display: inline-block;
			border-radius: 99px;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			background-color: white;
			&.add {
				color: white;
				background-color: @colorMain;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				&.max-count {
					background-color: #b5b5b6;
				}
			}
			&.remove {
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				border: solid 1px gray;
			}
		}
		> span {
			line-height: 2em;
			display: inline-block;
			width: 2em;
			text-align: center;
			//color: white;
		}
		&.limited{
			>a.add{
				background-color: #858585;
			}
		}
	}

	div.items {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 0 2%;
		> div.item {
			overflow: hidden;
			border-radius: 2%;
			background-color: #fff;
			//padding: 1% 3%;
			//overflow: hidden;

			width: 30%;
			margin-left: 2.5%;
			margin-bottom: 2.5%;
			box-sizing: border-box;
			box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
			> div.item-img {
				//border-radius: 10px;
				position: relative;
				.ratio-image(80%);
				//margin: 5% 0 10% 0;
			}
			> div.infos {
				position: relative;
				display: flex;
				flex-direction: column;
				margin: 0.5em;
				> div.promotions {
					min-height: 1em;
					overflow: hidden;
					padding: 0 0.2em;
					> span {
						font-size: 0.8em;
						display: inline-block;
						padding: 0.2em 0.4em;
						background-color: #d78280;
						color: white;
						border-radius: 5px;
						margin-right: 0.2em;
						margin-bottom: 0.2em;
					}
				}
				> div.title {
					//height: 3em;
					text-align: center;
					font-size: 0.7em;
					overflow: hidden;
					//text-overflow: ellipsis;
					white-space: nowrap;
				}
				> div.price {
					//height: 1.6em;
					> em {
						font-size: 1.4em;
						font-weight: bold;
						color: #da6058;
					}
					> span {
						font-size: 0.5em;
					}
					> del {
						color: gray;
					}
				}
				> div.effects {
					text-align: center;
					vertical-align: middle;
					line-height: 2em;
					height: 2em;
					> img {
						width: 2em;
						display: inline-block;
					}
				}
				> div.buy-pane {
					.buy-pane-common();
					text-align: center;
					height: 3em;
					line-height: 3em;
					flex: 1;
					font-size: 0.8em;
					> img {
						width: 3em;
					}
					> div.stock {
						margin-left: 0.5em;
						display: inline;
						color: #4d4e4f;
					}

				}
			}
		}
	}

	.detail-dialog {
		.reset-dialog();

	}
	.item-details {
		background-color: #ddd;
		margin-bottom: 5em;
		border-radius: 15px;
		> div.el-carousel {
			border-radius: 15px 15px 0 0;
		}
		> div.infos {
			background-color: white;
			padding-top: 1em;
			border-radius: 0 0 20px 20px;
			> div.title {
				font-size: 1.3em;
				margin-bottom: 0.5em;
				font-weight: bold;
				padding: 0 30px;
			}
			> div.description {
				padding: 1em 0;
				> h6 {
					font-weight: normal;
					font-size: 100%;
					text-align: center;
				}
				> p {
					color: #3a3a3c;
					margin-top: 0.5em;
				}
			}
			> div.promotions {
				margin-bottom: 0.5em;
				overflow: hidden;
				span {
					margin: 0.2em 0.2em;
					font-size: 0.8em;
					display: block;
					float: left;
					padding: 0.2em 0.4em;
					background-color: #d99634;
					color: white;
				}
			}
			> div.rate {
				padding: 0 30px;
				> i {
					font-size: 1.2em;
					//margin: 0.2em 0.2em;
					color: #f5c844;
					width: 1.2em;
				}
				> span.stock {
					color: gray;
				}
			}
			> div.price-panel {
				position: relative;
				padding: 0.5em 30px 1em 30px;
				//border-bottom: solid 1px #e4e5e6;
				> span.price {
					font-size: 1.3em;
					> em {
						font-weight: bold;
						color: #dc695d;
						font-size: 1.2em;
						small {
							font-size: 0.8em;
						}
					}
					> .price-original {
						color: gray;
						font-size: 0.6em;
					}
				}
				> div.buy-pane {
					font-size: 1.1em;
					position: absolute;
					right: 1em;
					bottom: 0.8em;
					.buy-pane-common();
					> img {
						position: relative;
						width: 2.5em;
						top: 1em;
					}
				}
			}
			> div.total-price-buy-panel {
				span.price > em {
					color: black;
				}
			}
			> div.promotions-details {
				padding: 10px 30px;
				box-shadow: inset 0px 0px 20px 0px #96dcdb, 0px 0px 0px 0px #000000;
				background-color: #f3feff;
				> div.promotion-detail {
					margin: 1em 0;
					> span.type {
						margin-right: 0.5em;
						color: white;
						background-color: #d78280;
						padding: 0.2em 0.8em;
						font-size: 0.8em;
						border-radius: 0.2em;
					}
					> span.desc {
						color: #3a3a3c;
						font-size: 0.9em;
					}
				}
				border-bottom: solid 1px #e4e5e6;
			}
		}
		//>div.promotions-details{
		//	position: relative;
		//	margin-top: 1em;
		//	padding: 0.5em;
		//	background-color: white;
		//	>div.promotion-detail{
		//		margin: 0.3em 0.5em;
		//		white-space: nowrap;
		//		>span.type{
		//			padding: 0.1em 0.2em;
		//			border: solid 1px black;
		//		}
		//		>span.desc{
		//			overflow: hidden;
		//		}
		//	}
		//	>a.see-more{
		//		position: absolute;
		//		top: 0;
		//		bottom: 0;
		//		right: 0;
		//		width: 100px;
		//		display: flex;
		//		justify-content: flex-end;
		//		align-items:center;
		//		>i{
		//			font-size: 3em;
		//		}
		//	}
		//}
		.promotion-detail-dialog {
			.detail {
				margin-top: 1em;
				padding-bottom: 1em;
				border-bottom: solid 1px black;
				> em {
					display: block;
					width: 2em;
					height: 2em;
					line-height: 2em;
					text-align: center;
					color: white;
					float: left;
					font-size: 2em;
					background-color: gray;

					border-radius: 99px;
				}
				> div {
					margin-left: 5em;
				}
				> div.title {
					> h6 {
						font-size: 1.2em;

						font-weight: bold;
					}
				}
				> div.duration {
					margin-top: 1em;
					> span {
						font-size: 0.8em;
					}
				}
			}
		}
		.close-button{
			display: block;
			position: absolute;
			bottom: -3em;
			width: 2em;
			height: 2em;
			left:45%;
		}
	}
	.simple-dialog {
		.el-dialog {
			width: 70% !important;
			background-color: transparent;
			box-shadow: none;

		}
		.el-dialog__header {
			display: none;
		}
		.el-dialog__body {
			padding: 0;
		}
		img.simple-background {
			width: 100%;
		}
	}
	.qr-dialog {
		span.qr-title {
			font-size: 1.5em;
			padding-top: 1em;
			> i.el-icon-error {
				position: absolute;
				font-size: 2em;
				top: -40px;
				right: -30px;
				color: #3d3e3f;
			}
		}
		div.qr-content {
			text-align: center;
			em.timer {
				position: absolute;
				top: 75%;
				font-size: 1em;
				color: gray;
				text-align: center;
				width: 100%;
			}
			div.qr {
				position: absolute;
				width: 27%;
				margin-top: 50%;
				margin-left: 37%;
				> img {
					width: 100%;
				}
			}
			div.wait {
				padding-top: 40%;
				position: absolute;
				font-size: 1em;
				text-align: center;
				width: 80%;
				left: 10%;
			}
			h6 {
				position: absolute;
				width: 100%;
				top: 25%;
				font-size: 1em;
				> img {
					width: 5em;
					display: inline-block;
					line-height: 5em;
					vertical-align: middle;
				}
			}
		}
	}
	div.pay-success-dialog {
		em.timer {
			position: absolute;
			top: 85%;
			font-size: 1em;
			color: gray;
			text-align: center;
			width: 100%;
		}
	}
	div.delivery-error-dialog {
		em.timer {
			position: absolute;
			top: 70%;
			font-size: 1em;
			color: gray;
			text-align: center;
			width: 100%;
		}
	}
	//div.delivery {
	//	padding-bottom: 4em;
	//
	//	div.dialog-wrapper {
	//		position: absolute;
	//		top: 0;
	//		left: 0;
	//		right: 0;
	//		bottom: 0;
	//		> div.dialog {
	//			margin: 30% 0;
	//			box-sizing: content-box;
	//			width: 100%;
	//			z-index: 25;
	//			position: relative;
	//			> div.dialog-content {
	//				position: absolute;
	//				left: 10%;
	//				right: 10%;
	//			}
	//			> img.bg {
	//				margin: 0 10%;
	//				text-align: center;
	//				width: 80%;
	//			}
	//		}
	//		> div.bg-cover {
	//			position: absolute;
	//			top: 0;
	//			left: 0;
	//			right: 0;
	//			bottom: 0;
	//			background-color: #000000;
	//			opacity: 0.5;
	//			z-index: 24;
	//		}
	//	}
	//
	//	> div.pay-success {
	//		> div.dialog {
	//
	//			> span.price-info-large {
	//				text-align: center;
	//				display: block;
	//				position: absolute;
	//				top: 40%;
	//				left: 0;
	//				right: 0;
	//				> em {
	//					font-size: 2.4em;
	//				}
	//			}
	//			> span.price-info-small {
	//				display: flex;
	//				left: 25%;
	//				right: 25%;
	//				top: 65%;
	//				position: absolute;
	//				> span {
	//					flex: 1;
	//					color: gray;
	//				}
	//			}
	//		}
	//	}
	//	> div.delivery-fail {
	//		div.dialog-content {
	//			margin-top: 8em;
	//			text-align: center;
	//			h6 {
	//				margin-bottom: 1em;
	//				font-weight: bold;
	//			}
	//			p {
	//				em {
	//					color: #f56c6c;
	//				}
	//			}
	//			span {
	//				margin-top: 1.5em;
	//				display: block;
	//				color: #dddddd;
	//			}
	//		}
	//		img.bg {
	//			margin: 0 15% !important;
	//			width: 70% !important;
	//		}
	//	}
	//	> div.item-list {
	//		padding: 0 0.8em;
	//		position: relative;
	//		> img.delivery-bg {
	//			position: absolute;
	//			width: 100%;
	//			left: 0;
	//			z-index: 10;
	//			top: -20%;
	//		}
	//		> div.user {
	//			padding: 0.5em 0;
	//			font-size: 1.3em;
	//			display: flex;
	//			color: #f7ac37;
	//			z-index: 21;
	//			position: relative;
	//			> div.name {
	//				text-align: left;
	//				flex: 1;
	//			}
	//			> div.status {
	//				text-align: right;
	//				flex: 1;
	//			}
	//		}
	//		> div.header {
	//			border-top: lightgray dashed 2px;
	//			display: flex;
	//			font-size: 0.6em;
	//			color: #b3b4b6;
	//			padding: 2em 0;
	//			z-index: 21;
	//			position: relative;
	//			> div.order-id {
	//				flex: 1;
	//				white-space: nowrap;
	//				text-align: left;
	//			}
	//			> div.total-count {
	//				flex: 1;
	//				text-align: right;
	//			}
	//		}
	//		> div.delivery-item {
	//			display: flex;
	//			align-items: center;
	//			margin: 1.4em 0;
	//			> div.cover {
	//				width: 100px;
	//				> img {
	//					width: 100px;
	//					height: 100px;
	//					display: block;
	//				}
	//			}
	//			> div.title {
	//				padding: 0.2em 0.5em;
	//				font-size: 0.8em;
	//				color: #fff;
	//				flex: 9;
	//				> span {
	//					color: #b3b4b6;
	//				}
	//			}
	//			> div.status {
	//				font-size: 0.8em;
	//				color: #c9a76f;
	//			}
	//		}
	//		> div.footer {
	//			border-bottom: lightgray dashed 2px;
	//		}
	//	}
	//}
	div.pay-menu {
		position: fixed;
		right: 1%;
		top: 40%;
		width: 15%;
		z-index: 11;
		> div.price {
			position: absolute;
			right: 0;
			color: white;
			bottom: 7%;
			font-size: 0.7em;
			width: 100%;
			text-align: center;
		}
		> img {
			width: 100%;
			display: block;
		}
		> span.total-count {
			position: absolute;
			right: 10%;
			color: white;
			background: #f56c6c;
			font-size: 0.5em;
			padding: 0.2em 1em;
			top: 0;
			border-radius: 1em;
		}
	}

	div.total-price-buy-panel {
		> div.total-price {
			//float: left;
			line-height: 2em;
			padding: 1em 0.5em;
			white-space: nowrap;
			span.total-count {
				font-size: 0.7em;
				color: gray;
			}
			span.price {
				margin: 0 0.5em;
				line-height: 2em;
				font-size: 0.7em;
				font-weight: bold;
				em {
					font-size: 2em;
					color: @colorMain;
				}
				del {
					margin-left: 1em;
					color: gray;
				}
			}
		}
		> a.go-to-pay {
			display: block;
			width: 30%;
			color: black;
			text-align: center;
			text-decoration: none;
			line-height: 2em;
			position: absolute;
			right: 0.5em;
			bottom: 1em;
			> span {
				position: absolute;
				z-index: 1;
				text-align: center;
				display: block;
				width: 110%;
			}
			> img {
				border: 0;
				position: relative;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
	div.cart-dialog {
		font-size: 30px;
		.reset-dialog();
		> div.el-dialog {
			border-radius: 15px;
		}
		div.cart-content {
			//background-color: white;
			color: black;
			border-radius: 10px;
			> div.header {

				padding: 0.5em 0.5em;
				border-bottom: solid 1px #ebeced;
				display: flex;
				justify-content: space-between;
				font-size: 1em;
				align-items: center;
				> a {
					padding: 0.2em;
					&.clear {
						font-size: 0.8em;
						color: #696a6b;
					}
				}
				> h6 {
					padding: 0.2em;
					font-weight: bold;
				}
			}
			> div.item-list {
				max-height: 35vh;
				box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
				background-color: #f0feff;
				&.need-scroll {
					overflow-y: scroll;
				}
				> div.cart-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: solid 1px #ebeced;
					padding: 1em 1em;
					font-size: 0.6em;
					> div.small-img {
						//flex: 0 0 2em;
						> img {
							width: 3em;
							height: 3em;
						}
					}
					> div.title {
						flex: 1 1;
						margin-left: 0.4em;
					}
					> div.price {
						flex: 0 0 4em;
						white-space: nowrap;
						margin: 0 1em;
						> em {
							font-size: 1.6em;
						}
						color: #e3676f;
					}
					> div.stock {
						flex: 0 0 7em;
						//margin-left:0.4em;
						text-align: right;
						position: relative;
						> div.buy-pane {

							position: relative;
							.buy-pane-common();

							> a {
								line-height: 1.5em;
								width: 1.5em;
								height: 1.5em;
							}
							> span {
								line-height: 1.5em;
								width: 1.5em;
								font-weight: bold;
								font-size: 1.2em;
							}
							@media (min-width: 400px) {
								> a {
									line-height: 2em;
									width: 2em;
									height: 2em;
								}

								> span {
									line-height: 2em;
									width: 2em;
								}
							}
						}
						> em {
							position: absolute;
							text-align: center;
							width: 100%;
							color: #f2aa63;
							top: 2.4em;
							left: 0;
							font-size: 0.8em;
						}
					}

				}
			}
		}
	}
	.event-ad-content{
		border-radius: 1em;
		overflow: hidden;
	}
	.event-button{
		position: fixed;
		right: 0;
		top: 2.5em;
		width: 4em;
		img{
			width: 100%;
		}
	}
	.el-dialog {
		.el-dialog__body {
			font-size: 30px;
		}
	}
}

.fly-icon{
	display: block;
	position: absolute;
	width: 3em;
	height: 3em;
	border-radius: 3em;
	z-index: 9999;
	overflow:hidden;
	background-color:white;
	box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
	transition: left .5s ease-in, top .5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
	img{
		width: 100%;
		height: 100%;
	}
}

@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	50% {
		-webkit-transform: scale(1.2, 1.2);
		transform: scale3d(1.2,1.2);
	}

	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

.animated {
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	-webkit-animation-fill-msmode: both;
	animation-fill-mode: both;
}

.el-message-box {
	transform: scaleX(1.5) scaleY(1.5);
}
