body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: ”;
}
abbr,
acronym {
  border: 0;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: #201d1d;
}
div.mfsj-ews-container {
  font-size: 16px;
  padding: 0.7em;
}
div.mfsj-ews-container > h5 {
  padding: 0.5em 0;
  text-align: center;
}
div.mfsj-ews-container > h5 > img {
  width: 30%;
}
div.mfsj-ews-container > div.order-items {
  color: white;
  background-color: #272424;
}
div.mfsj-ews-container > div.order-items > div.item {
  padding: 0.7em;
  position: relative;
  overflow: hidden;
}
div.mfsj-ews-container > div.order-items > div.item > img {
  width: 30%;
  height: 30%;
  float: left;
}
div.mfsj-ews-container > div.order-items > div.item > div.info {
  margin-left: 30%;
  padding: 0 0.7em;
}
div.mfsj-ews-container > div.order-items > div.item > div.info > h6 {
  margin-bottom: 0.5em;
  color: #e0e0e0;
}
div.mfsj-ews-container > div.order-items > div.item > div.info > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #7d7d7d;
}
div.mfsj-ews-container > div.order-items > div.item > div.info > div.promotions {
  overflow: hidden;
  margin-top: 0.5em;
}
div.mfsj-ews-container > div.order-items > div.item > div.info > div.promotions > span {
  float: left;
  display: block;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
  color: #b09260;
  font-size: 0.7em;
  border: solid 1px #b09260;
}
div.mfsj-ews-container > div.order-items > div.item > div.info > div.price-stock {
  margin-top: 0.4em;
  font-size: 1.2em;
}
div.mfsj-ews-container > div.order-items > div.item > div.info > div.price-stock > span {
  font-size: 0.8em;
  float: right;
  color: #4c4a4a;
}
div.mfsj-ews-container > div.promotions {
  margin-top: 0.5em;
  color: white;
  background-color: #272424;
  font-size: 1em;
  padding: 0.7em 0.7em;
}
div.mfsj-ews-container > div.promotions > div.promotion {
  padding: 0.7em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.mfsj-ews-container > div.promotions > div.promotion > div.title {
  flex: 1 1 40%;
}
div.mfsj-ews-container > div.promotions > div.promotion > div.price {
  color: red;
  flex: 1 1 30%;
  text-align: right;
}
div.mfsj-ews-container > div.promotions > div.promotion > div.toggle {
  flex: 1 1 30%;
  text-align: right;
}
div.mfsj-ews-container div.toggle-switch {
  display: inline-block;
  width: 3em;
  height: 1.5em;
  line-height: 1.5em;
  background-color: #d7b172;
  border-radius: 1.5em;
  border: solid 0.1em #d7b172;
}
div.mfsj-ews-container div.toggle-switch > i {
  margin-top: -0.1em;
  margin-left: -0.1em;
  margin-right: -0.1em;
  display: block;
  border-radius: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background-color: #fff;
  float: right;
  border: solid 0.1em #d7b172;
}
div.mfsj-ews-container div.toggle-switch.off {
  background-color: #fff;
}
div.mfsj-ews-container div.toggle-switch.off > i {
  float: left;
}
div.mfsj-ews-container div.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}
div.mfsj-ews-container div.footer > div.join-member {
  position: absolute;
  font-size: 0.7em;
  color: #d7b273;
  background-color: #272424;
  padding: 0.8em 1.2em;
  right: 0;
  bottom: 5em;
  border-radius: 2em 0 0 2em;
}
div.mfsj-ews-container div.footer > a {
  display: block;
  width: 50%;
}
div.mfsj-ews-container div.footer > a > img {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=mfsj-ews.css.map */